*{
    background-color: rgb(242, 242, 242);
}

 /* .carousel-item img{
    padding-top:100px;
    display: flex;
    margin: 0 auto;
   
 } */
 
#cv-template{
    display: none;
}
.myimg{
    margin-left: 10px;
    width: 350px;
    
}

.background{
    background-color: bisque;

}